$wrapper-height: 140px;
$wrapper-padding-mobile: 24px;
$wrapper-padding-desktop: 60px;

$white: #fff;
$black: #0b0c10;
$gray: #303030;
$orange: #e88301;
$blue: #2a2d36;
$footer: #2a2d34;
$footer-text: #a4a7b6;
